// Created by sam mok 2015.

/** post list */
.post-list {
  .hd {
    margin-top: .3em;

    a:hover {
      text-decoration: none;
    }
  }

  .ft {
    .date {
    }
  }
}

.post-list-item {
  margin-bottom: 40px;

  .hd {
    a:hover {
      color: #0011e2;
    }
  }
}

/* post detail */
.post-detail {

}

.post-detail-hd {
  margin-bottom: 40px;

  .title {
    margin-top: .4rem;
  }

  .date {
  }
}

.post-detail-bd {
  margin-bottom: 60px;

  p {
    line-height: 1.5em;
    margin-bottom: 2.5rem;
  }

  img {
    margin-bottom: 2.5rem;
    box-shadow: 0 0 5px rgba(79, 50, 25, .15);
  }
}

.post-detail-ft {
}


/* sidebar article list */
.sidebar-articleList {
  .item {
  }
}

/* sidebar article category */
.sidebar-articleCategory {
  .count {
    margin-left: 5px;
  }
}