<div class="container blog-body post-create">
    <!-- create article -->
    <div class="row">
        <!-- main -->
        <main class="col-md-9 main">
            <div class="post-create-hd">
                <h1 class="title">新文章:</h1>
            </div>
            <div class="post-create-bd">
                <div class="title">
                    <input class="form-control" type="text" placeholder="Title" ng-model="articlesCreateCtrl.title"/>
                </div>
                <article>
                    <textarea class="form-control" cols="30" rows="10" ng-model="articlesCreateCtrl.content"></textarea>
                </article>
            </div>
            <div class="post-create-ft">
                <div class="post-create-category">
                    <span class="title">分类:</span>
                    <select class="bd" name="" id="">
                        <option value="">计算机科学</option>
                        <option value="">全栈开发</option>
                        <option value="">闲聊</option>
                        <option value="">-------------</option>
                        <option value="">创建分类</option>
                    </select>
                </div>

                <p class="submit-btn-wrap">
                    <input class="btn" type="submit" value="发布" ng-click="articlesCreateCtrl.createArticle()"/>
                </p>
            </div>
        </main>
        <!-- end main -->

        <!-- sidebar -->
        <aside class="side col-md-3">
            <div class="panel panel-default sidebar-articleCategory">
                <div class="panel-heading">文章分类</div>
                <div class="panel-body">
                    <p class="item"><a href="">计算机科学<span class="count">14</span></a></p>
                    <p class="item"><a href="">全栈开发<span class="count">14</span></a></p>
                    <p class="item"><a href="">闲聊<span class="count">14</span></a></p>
                </div>
            </div>

            <div class="panel panel-default sidebar-articleList">
                <div class="panel-heading">新增文章</div>
                <div class="panel-body">
                    <p class="item"><a href="">人生若只如初见, 你还是那么爱吃番</a></p>
                    <p class="item"><a href="">矮胖亦是浮云, 只是飘起来很吃力罢</a></p>
                    <p class="item"><a href="">屋顶上的童年时光</a></p>
                </div>
            </div>
        </aside>
        <!-- sidebar -->
    </div>
    <!-- end create article -->
</div>