<div class="blog-body container">
    <div class="row">
        <!-- main -->
        <main class="main col-md-9">
            <!-- post list -->
            <div class="post-list">
                <article class="post-list-item" ng-repeat="article in articlesCtrl.articles">
                    <h3 class="hd"><a href="" ng-click="articlesCtrl.goArticleDetail(article._id)">{{article.title}}</a></h3>
                    <div class="bd">
                        <p>{{article.content}}</p>
                    </div>
                    <div class="ft">
                        <div class="date">{{articlesCtrl.formatDate(article.created)}}</div>
                    </div>
                </article>
            </div>
            <!-- end post list -->
        </main>
        <!-- end main -->

        <!-- sidebar -->
        <aside class="side col-md-3">
            <div class="panel panel-default sidebar-articleCategory">
                <div class="panel-heading">文章分类</div>
                <div class="panel-body">
                    <p class="item"><a href="">闲聊<span class="count">{{articlesCtrl.articles.length}}</span></a></p>
                </div>
            </div>

            <div class="panel panel-default sidebar-articleList">
                <div class="panel-heading">新增文章</div>
                <div class="panel-body">
                    <p class="item" ng-repeat="article in articlesCtrl.articles"><a href="">{{article.title | limitTo: 11}}..</a></p>
                </div>
            </div>
        </aside>
        <!-- end sidebar -->
    </div>
</div>